.footer
    position: absolute
    z-index: 1
    color: grey
    font-size: 15px
    margin-left: 2em
    bottom: 40px

.media
    position: absolute
    z-index: 1
    font-size: 15px
    margin-left: 2em
    bottom: 70px
    ul
        list-style: none
        display: flex
        justify-content: left
        li
            display: inline-block
            color: grey
            margin: 0px 10px 0px 0px

@media ( min-width: 768px )
    .footer
        font-size: 20px
    .media
        font-size: 20px

@media ( min-width: 1000px )
    .media
        margin-left: 0
        bottom: auto
        top: 38%
        right: 4%
        ul
            flex-direction: column
            li
                margin: 5px 0px