*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif

@import 'variables'
@import 'mixins'
@import 'header'
@import 'mySkillsSlider'

body
    max-width: 100vw
    overflow-x: hidden
    background-color: $maincolor

.section
    width: 100vw
    padding-top: 50px
    padding-bottom: 75px
    max-width: 1400px
    position: relative
    left: 50%
    transform: translateX(-50%)
    &.section--no-max-width
        max-width: 100000px
    .section__name
        width: 80%
        position: relative
        left: 50%
        transform: translateX(-50%)
        font-size: 40px
        color: #fff
        .dot
            color: $themeColor1
            font-size: 80px
    .section__flex
        margin-top: 25px
        display: flex
        flex-wrap: wrap
        justify-content: center
        .avatar
            max-width: 50%
            .avatar__img
                width: 100%
                border-radius: 25%
                position: relative
                top: 50%
                transform: translateY(-50%)
        .about-me__desctiprion
            margin-top: 25px
            width: 80%
            color: #fff
            line-height: 20px
            p
                position: relative
                top: 50%
                transform: translateY(-50%)

@media screen and ( min-width: 375px ) and (orientation: portrait)
    .section
        .section__name
            font-size: 50px
            .dot 
                font-size: 100px
        .section__flex
            .about-me__desctiprion
                font-size: 20px
                line-height: 23px

@media screen and ( min-width: 768px ) and (orientation: portrait)
    .section
        .section__name
            width: 80%
            position: relative
            left: 50%
            transform: translateX(-50%)
            font-size: 50px
            .dot
                font-size: 100px
        .section__flex
            width: 80%
            position: relative
            left: 50%
            transform: translateX(-50%)
            justify-content: space-between
            .avatar
                max-width: 30%
            .about-me__desctiprion
                width: 60%
                margin-top: 0

@media screen and ( min-width: 1024px ) and (orientation: portrait)
    .section
        .section__name
            font-size: 60px
            .dot
                font-size: 120px
        .section__flex
            .about-me__desctiprion
                font-size: 22px
                line-height: 30px

@media (orientation: landscape)
    .section
        .section__name
            width: 80%
            position: relative
            left: 50%
            transform: translateX(-50%)
            font-size: 40px
            .dot
                font-size: 80px
        .section__flex
            width: 80%
            position: relative
            left: 50%
            transform: translateX(-50%)
            justify-content: space-between
            .avatar
                max-width: 30%
            .about-me__desctiprion
                width: 60%
                font-size: 13px
                line-height: 18px
                margin-top: 0

@media screen and ( min-width: 640px ) and (orientation: landscape)
    .section
        .section__name
            font-size: 45px
            .dot
                font-size: 90px
        .section__flex
            .about-me__desctiprion
                font-size: 15px
                line-height: 20px
    
@media screen and ( min-width: 820px ) and (orientation: landscape)
    .section
        .section__name
            font-size: 55px
            .dot
                font-size: 110px
        .section__flex
            .about-me__desctiprion
                font-size: 18px
                line-height: 25px
        
@media screen and ( min-width: 1024px ) and (orientation: landscape)
    .section
        .section__name
            font-size: 65px
            .dot
                font-size: 130px
        .section__flex
            .about-me__desctiprion
                font-size: 22px
                line-height: 30px

@media screen and ( min-width: 1366px ) and (orientation: landscape)
    .section
        .section__name
            font-size: 65px
            .dot
                font-size: 130px
        .section__flex
            .about-me__desctiprion
                font-size: 25px
                line-height: 30px

.section__flex-pr
    display: flex
    flex-wrap: wrap
    justify-content: space-around

.project
    position: relative
    width: 90%
    transform: rotate(-30deg) skew(25deg) scale(.8)
    margin-top: 50px
    transition: .5s
    img
        width: 100%
        transition: .5s
    img:nth-child(1),
    img:nth-child(2),
    img:nth-child(3),
    img:nth-child(4) 
        position: absolute
    img:nth-child(4)
        z-index: 4
    img:nth-child(5) 
        opacity: .1
    &:hover img:nth-child(1) 
        transform: translate(20px, -20px)
        opacity: .4
    &:hover img:nth-child(2) 
        transform: translate(40px, -40px)
        opacity: .6
    &:hover img:nth-child(3) 
        transform: translate(60px, -60px)
        opacity: .8
    &:hover img:nth-child(4) 
        transform: translate(80px, -80px)
        opacity: 1

@media (orientation: landscape)
    .project
        width: 45%

@media screen and ( min-width: 1440px )
    .project
        width: 30%


.footer-bg
    width: 100vw
    height: 100vh
    background-image: url('../img/footer.png')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    position: relative

.footer
    width: 100vw
    padding-bottom: 25px
    padding-top: 25px
    color: #ffffff
    font-size: 17px
    background-color: #2D092F
    .footer__flex
        display: flex
        flex-direction: column
        .footer__box1
            text-align: center
        .footer__box2
            margin-top: 25px
            display: flex
            justify-content: center
            p
                padding: 15px

@media (orientation: landscape)
    .footer-bg
        height: calc(100vw/1440*1080)
    .footer
        font-size: 15px
        .footer__flex
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-around
            .footer__box1
                text-align: left
            .footer__box2
                margin-top: 0px
                display: flex
                p
                    padding: 0px
                    padding-left: 10px
                    padding-right: 10px
            
@media screen and ( min-width: 768px )
    .footer
        font-size: 20px
        .footer__flex
            display: flex
            flex-direction: row
            align-items: center
            justify-content: space-around
            .footer__box1
                text-align: left
            .footer__box2
                margin-top: 0px
                display: flex
                p
                    padding: 0px
                    padding-left: 10px
                    padding-right: 10px

.parallax-container
    width: 100vw
    position: relative

.parallax-rocket,
.parallax-earth,
.parallax-comet,
.parallax-ufo,
.parallax-astronaut
    position: absolute
    z-index: 10

.parallax-rocket
    right: 10%
    top: 0
    img
        width: 400px

.parallax-earth
    right: 10%
    top: 0
    transform: translateY(-100%)
    img
        width: 300px

.parallax-comet
    left: 10%
    top: 0
    transform: translateY(-180%)
    img
        width: 200px

.parallax-mars
    img
        width: 200px

.parallax-ufo
    left: 10%
    top: 40%
    img
        width: 200px

.parallax-astronaut
    right: 10%
    top: 0
    img
        width: 300px