*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: 'Roboto', sans-serif
    cursor: url('../img/cursor.png'), auto

a 
    text-decoration: none

@import 'cursor'
@import 'loading'
@import 'nav'
@import 'header'
@import 'projects'
@import 'footer'

html, body 
    margin: 0%
    padding: 0%
    width: 100%
    height: 100vh
    background: #121212
    overflow: hidden

.button
    letter-spacing: 4px
    font-size: 15px
    position: relative
    padding: 10px 20px
    display: inline-block
    border: 1px solid grey
    overflow: hidden
    transition: .5s
    a
        color: #fff
    &::before
        content: ''
        position: absolute
        top: 0
        left: -100%
        width: 100%
        height: 100%
        background-color: #8A377E
        z-index: -1
        transition: .5s
    &:hover
        border: 1px solid transparent
    &:hover::before
        left: 0

.button--2
    margin-left: 20px
    border: 1px solid transparent
    &::before
        left: 0
    &:hover
        border: 1px solid grey
    &:hover::before
        left: 100%

@media ( min-width: 768px )
    .button
        font-size: 20px

@media ( min-width: 1000px )
    .button
        font-size: 15px
        padding: 15px 30px
        font-weight: bold
